<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.ReviewMapper">
    <select id="selectMyAllReview" parameterType="Integer" resultType="ResponseReview">
        SELECT R.reviewId as reviewId, R.roomId as roomId, R.reserveId as reserveId, R.guestId as guestId, R.reviewRate as reviewRate, R.reviewContents1 as reviewContents1, R.reviewContents2 as reviewContents2, R.reviewContents3 as reviewContents3, R.reviewContents4 as reviewContents4, R.reviewHidden as reviewHidden, R.guestId2 as guestId2, O.hostId as HostId
        FROM review R
        INNER JOIN room O ON R.roomId = O.roomId
        WHERE R.roomId=#{roomId}
    </select>
    <select id="selectMyRoomReviews" parameterType="Integer" resultType="HostRoomReserveReview">
        SELECT R.reviewId, R.reviewRate , R.reviewContents1 , R.reviewContents2, R.reviewContents3 , R.reviewContents4 , R.reviewHidden,
               H.hostId, H.hostName, H.hostPwd, H.hostImage, H.hostIntro, H.hostSuper, H.hostLang, H.hostRate, H.hostYear, H.hostJob, H.hostVerified, H.hostRegDate, H.hostDelDate,
               O.roomId, O.roomPrice, O.roomName, O.roomAddress, O.roomLoc, O.roomInfo, O.roomIntro, O.roomClean, O.roomPet, O.roomWPrice, O.roomCap, O.roomType, O.roomLat, O.roomLng, O.roomImage1, O.roomImage2, O.roomImage3, O.roomImage4, O.roomImage5, O.roomImage6, O.roomLikes,
               E.reserveId, E.guestId, E.reserveCheckIn, E.reserveCheckOut, E.reservePrice, E.reserveConfirm, E.reserveCal, E.reserveCap, E.reserveStatus, E.reservePayRate, E.reservePayAmount, E.reservePayDate, E.reservePayType, E.reserveDiscount, E.reservePoint, E.reserveBank, E.reserveAccHolder, E.reserveAccount, E.reserverApi, E.reserveRefund, E.reserveReply,
               G.guestName
        FROM host H
                 INNER JOIN room O ON H.hostId = O.hostId
                 INNER JOIN reserve E ON O.roomId = E.roomId
                 INNER JOIN review R ON R.reserveId = E.reserveId
                 INNER JOIN guest G ON E.guestId = G.guestId
        WHERE O.roomId = #{roomId}
    </select>
</mapper>